<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="createLobby">Create a Lobby</button>
    <button id="joinLobby">Join A lobby</button>
    <input id="lobbyCode" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      var createLobby = document.getElementById("createLobby");
      var joinLobby = document.getElementById("joinLobby");
      var lobbyCode = document.getElementById("lobbyCode");

      createLobby.onclick = function () {
        window.location.href =
          "/lobby?id=" +
          encodeURIComponent(lobbyCode.value) +
          "&user=" +
          encodeURIComponent(socket.id);
        // encodeURIComponent(socket.id);
      };

      joinLobby.onclick = function () {
        socket.emit("join lobby");
      };
    </script>
  </body>
</html>
