<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    This should work?
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const urlStr = window.location.href;
      let url = new URL(urlStr);
      let search_params = url.searchParams;

      const socketHashed = search_params.get("user");
      const socket = io.connect(socketHashed);

      fetch("/info?id=" + socketHashed)
        .then((response) => response.text())
        .then((token) => {
          const socket = io.connect(token);
        })
        .catch((error) => {
          console.error("Error fetching token:", error);
        });

      console.log(socket.id);
    </script>
  </body>
</html>
